AspUtils/CopRevenueGov2/Service References/RTTIE016_SrvRef/RTTIE216WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ISDEV.city.phila.local/RTTIE216.service:RTTIE216WS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:HDR1="urn:com-softwareag-entirex-rpc:TIPSACCD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="RTTIE216WS" targetNamespace="http://ISDEV.city.phila.local/RTTIE216.service:RTTIE216WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCD">
      <xsd:import namespace="http://ISDEV.city.phila.local/RTTIE216.service:RTTIE216WS" />
      <xsd:element name="RTTIE216" type="sn0:RTTIE216" />
      <xsd:element name="RTTIE216Response" type="sn0:RTTIE216Response" />
      <xsd:complexType name="RTTIE216">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SMA" nillable="true" type="tns:_SMA" />
          <xsd:element minOccurs="0" name="_EMI" nillable="true" type="tns:_EMI" />
          <xsd:element minOccurs="0" name="_ETA" nillable="true" type="tns:_ETA" />
          <xsd:element minOccurs="0" name="_E-WAG-NTL" nillable="true" type="tns:_E-WAG-NTL" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE216Response">
        <xsd:sequence>
          <xsd:element name="_SMA" type="tns:_SMA2" />
          <xsd:element name="_EMI" type="tns:_EMI2" />
          <xsd:element name="_ETA" type="tns:_ETA2" />
          <xsd:element name="_E-WAG-NTL" type="tns:_E-WAG-NTL2" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="http://ISDEV.city.phila.local/RTTIE216.service:RTTIE216WS">
      <xsd:import namespace="urn:com-softwareag-entirex-rpc:TIPSACCD" />
      <xsd:element name="RTTIE216" type="tns:RTTIE216" />
      <xsd:element name="RTTIE216Response" type="tns:RTTIE216Response" />
      <xsd:complexType name="RTTIE216">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE216" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SYSTEM-MESSAGE-AREA" nillable="true" type="tns:_SYSTEM-MESSAGE-AREA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SYSTEM-MESSAGE-AREA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_PROGRAM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ERROR" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="LINE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="MESSAGE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_EMI">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_ENTITY-MASTER-INFO" nillable="true" type="tns:_ENTITY-MASTER-INFO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-MASTER-INFO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="FUNCTION-CODE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ENTITY-TYPE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="ENTITY-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ACCT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ENTITY-NAME" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADDRESS-LINE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADDRESS-LINE-2" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADDRESS-LINE-3" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="CITY" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="STATE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ZIP-CODE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ETA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_ENTITY-TAX-ACCOUNTSs" nillable="true" type="tns:_ENTITY-TAX-ACCOUNTSs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTSs">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="_ENTITY-TAX-ACCOUNTS" nillable="true" type="tns:_ENTITY-TAX-ACCOUNTS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="FUNCTION-CODE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ACCOUNT" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="START-DATE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="END-DATE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="FREQUENCY" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BRT-ENTITY" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BRT-ADDRESS" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-WAG-NTL">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PERIOD-X" nillable="true" type="tns:PERIOD-X" />
          <xsd:element minOccurs="0" name="FREQUENCY" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADJ-REFNO" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-NAME" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE-EXT" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-IP-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-EMAIL" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-TYPE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PERIOD-X">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PERIOD" nillable="true" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE216Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE216Response" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA2">
        <xsd:sequence>
          <xsd:element name="_SYSTEM-MESSAGE-AREA" type="tns:_SYSTEM-MESSAGE-AREA2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SYSTEM-MESSAGE-AREA2">
        <xsd:sequence>
          <xsd:element name="_PROGRAM" type="xsd:string" />
          <xsd:element name="ERROR" type="xsd:decimal" />
          <xsd:element name="LINE" type="xsd:decimal" />
          <xsd:element name="MESSAGE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_EMI2">
        <xsd:sequence>
          <xsd:element name="_ENTITY-MASTER-INFO" type="tns:_ENTITY-MASTER-INFO2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-MASTER-INFO2">
        <xsd:sequence>
          <xsd:element name="FUNCTION-CODE" type="xsd:string" />
          <xsd:element name="ENTITY-TYPE" type="xsd:decimal" />
          <xsd:element name="ENTITY-ID" type="xsd:string" />
          <xsd:element name="ACCT-ID" type="xsd:string" />
          <xsd:element name="ENTITY-NAME" type="xsd:string" />
          <xsd:element name="ADDRESS-LINE" type="xsd:string" />
          <xsd:element name="ADDRESS-LINE-2" type="xsd:string" />
          <xsd:element name="ADDRESS-LINE-3" type="xsd:string" />
          <xsd:element name="CITY" type="xsd:string" />
          <xsd:element name="STATE" type="xsd:string" />
          <xsd:element name="ZIP-CODE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ETA2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_ENTITY-TAX-ACCOUNTSs" type="tns:_ENTITY-TAX-ACCOUNTSs2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTSs2">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="_ENTITY-TAX-ACCOUNTS" type="tns:_ENTITY-TAX-ACCOUNTS2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTS2">
        <xsd:sequence>
          <xsd:element name="FUNCTION-CODE" type="xsd:string" />
          <xsd:element name="ACCOUNT" type="xsd:decimal" />
          <xsd:element name="ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="START-DATE" type="xsd:decimal" />
          <xsd:element name="END-DATE" type="xsd:decimal" />
          <xsd:element name="FREQUENCY" type="xsd:string" />
          <xsd:element name="BRT-ENTITY" type="xsd:string" />
          <xsd:element name="BRT-ADDRESS" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-WAG-NTL2">
        <xsd:sequence>
          <xsd:element name="ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="PERIOD-X" type="tns:PERIOD-X2" />
          <xsd:element name="FREQUENCY" type="xsd:string" />
          <xsd:element name="ADJ-REFNO" type="xsd:string" />
          <xsd:element name="PREPARER-NAME" type="xsd:string" />
          <xsd:element name="PREPARER-PHONE" type="xsd:string" />
          <xsd:element name="PREPARER-PHONE-EXT" type="xsd:string" />
          <xsd:element name="PREPARER-IP-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-EMAIL" type="xsd:string" />
          <xsd:element name="PREPARER-TYPE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PERIOD-X2">
        <xsd:sequence>
          <xsd:element name="PERIOD" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RTTIE216WS_PortType_RTTIE216">
    <wsdl:part name="parameters" element="tns:RTTIE216" />
  </wsdl:message>
  <wsdl:message name="RTTIE216WS_PortType_RTTIE216Response">
    <wsdl:part name="parameters" element="tns:RTTIE216Response" />
  </wsdl:message>
  <wsdl:portType name="RTTIE216WS_PortType">
    <wsdl:operation name="RTTIE216">
      <wsdl:input message="tns:RTTIE216WS_PortType_RTTIE216" />
      <wsdl:output message="tns:RTTIE216WS_PortType_RTTIE216Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RTTIE216_service_RTTIE216WS_Binder" type="tns:RTTIE216WS_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE216">
      <soap:operation soapAction="RTTIE216_service_RTTIE216WS_Binder_RTTIE216" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTTIE216.service.RTTIE216WS">
    <wsdl:port name="RTTIE216_service_RTTIE216WS_Port" binding="tns:RTTIE216_service_RTTIE216WS_Binder">
      <soap:address location="http://ISDEV.city.phila.local:5555/ws/RTTIE216.service.RTTIE216WS/RTTIE216_service_RTTIE216WS_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>