AspUtils/CopRevenueGov2/Service References/RTTIE236_SrvRef/RTTIE236WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ISDEV.city.phila.local/RTTIE236.service:RTTIE236WS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:HDR1="urn:com-softwareag-entirex-rpc:TIPSACCD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="RTTIE236WS" targetNamespace="http://ISDEV.city.phila.local/RTTIE236.service:RTTIE236WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCD">
      <xsd:import namespace="http://ISDEV.city.phila.local/RTTIE236.service:RTTIE236WS" />
      <xsd:element name="RTTIE236" type="sn0:RTTIE236" />
      <xsd:element name="RTTIE236Response" type="sn0:RTTIE236Response" />
      <xsd:complexType name="RTTIE236">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SMA" nillable="true" type="tns:_SMA" />
          <xsd:element minOccurs="0" name="_E-SIT" nillable="true" type="tns:_E-SIT" />
          <xsd:element minOccurs="0" name="_E-AMT" nillable="true" type="tns:_E-AMT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE236Response">
        <xsd:sequence>
          <xsd:element name="_SMA" type="tns:_SMA2" />
          <xsd:element name="_E-SIT" type="tns:_E-SIT2" />
          <xsd:element name="_E-AMT" type="tns:_E-AMT2" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="http://ISDEV.city.phila.local/RTTIE236.service:RTTIE236WS">
      <xsd:import namespace="urn:com-softwareag-entirex-rpc:TIPSACCD" />
      <xsd:element name="RTTIE236" type="tns:RTTIE236" />
      <xsd:element name="RTTIE236Response" type="tns:RTTIE236Response" />
      <xsd:complexType name="RTTIE236">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE236" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_PROGRAM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SYSTEM-ERROR" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ERROR-LINE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="MESSAGE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-SIT">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PERIOD-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="VERSION-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RETURN-STATUS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LAST-UPDATE-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RECORDING-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="EXTENSION-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SEQUENCE-NUM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADJUSTMENT-REFERENCE-NUM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RATE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-NAME" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE-EXT" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-IP-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-EMAIL-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-TYPE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-AMT">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="NET-TAXABLE-DIVIDENDS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAXABLE-INTEREST-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="S-CORP-DISTRIBUTIONS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PARTNERSHIP-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BENEFICIARY-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SHORT-TERM-GAINS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NET-RENTAL-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="OTHER-TAXABLE-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-TAXABLE-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="DEDUCTIBLE-EXPENSES-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NET-TAXABLE-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="GROSS-TAX-DUE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="CREDITS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAX-DUE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="REFUND-AMT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="OVERPAYMENT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="USER-ID" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE236Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE236Response" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA2">
        <xsd:sequence>
          <xsd:element name="_PROGRAM" type="xsd:string" />
          <xsd:element name="SYSTEM-ERROR" type="xsd:string" />
          <xsd:element name="ERROR-LINE" type="xsd:string" />
          <xsd:element name="MESSAGE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-SIT2">
        <xsd:sequence>
          <xsd:element name="ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="PERIOD-X" type="xsd:string" />
          <xsd:element name="VERSION-X" type="xsd:string" />
          <xsd:element name="RETURN-STATUS" type="xsd:string" />
          <xsd:element name="LAST-UPDATE-DATE-X" type="xsd:string" />
          <xsd:element name="RECORDING-DATE-X" type="xsd:string" />
          <xsd:element name="EXTENSION-DATE-X" type="xsd:string" />
          <xsd:element name="SEQUENCE-NUM" type="xsd:string" />
          <xsd:element name="ADJUSTMENT-REFERENCE-NUM" type="xsd:string" />
          <xsd:element name="RATE" type="xsd:string" />
          <xsd:element name="PREPARER-NAME" type="xsd:string" />
          <xsd:element name="PREPARER-PHONE" type="xsd:string" />
          <xsd:element name="PREPARER-PHONE-EXT" type="xsd:string" />
          <xsd:element name="PREPARER-IP-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-EMAIL-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-TYPE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-AMT2">
        <xsd:sequence>
          <xsd:element name="NET-TAXABLE-DIVIDENDS-X" type="xsd:string" />
          <xsd:element name="TAXABLE-INTEREST-X" type="xsd:string" />
          <xsd:element name="S-CORP-DISTRIBUTIONS-X" type="xsd:string" />
          <xsd:element name="PARTNERSHIP-INCOME-X" type="xsd:string" />
          <xsd:element name="BENEFICIARY-INCOME-X" type="xsd:string" />
          <xsd:element name="SHORT-TERM-GAINS-X" type="xsd:string" />
          <xsd:element name="NET-RENTAL-INCOME-X" type="xsd:string" />
          <xsd:element name="OTHER-TAXABLE-INCOME-X" type="xsd:string" />
          <xsd:element name="TOTAL-TAXABLE-INCOME-X" type="xsd:string" />
          <xsd:element name="DEDUCTIBLE-EXPENSES-X" type="xsd:string" />
          <xsd:element name="NET-TAXABLE-INCOME-X" type="xsd:string" />
          <xsd:element name="GROSS-TAX-DUE-X" type="xsd:string" />
          <xsd:element name="CREDITS-X" type="xsd:string" />
          <xsd:element name="TAX-DUE-X" type="xsd:string" />
          <xsd:element name="REFUND-AMT-X" type="xsd:string" />
          <xsd:element name="OVERPAYMENT-X" type="xsd:string" />
          <xsd:element name="USER-ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RTTIE236WS_PortType_RTTIE236">
    <wsdl:part name="parameters" element="tns:RTTIE236" />
  </wsdl:message>
  <wsdl:message name="RTTIE236WS_PortType_RTTIE236Response">
    <wsdl:part name="parameters" element="tns:RTTIE236Response" />
  </wsdl:message>
  <wsdl:portType name="RTTIE236WS_PortType">
    <wsdl:operation name="RTTIE236">
      <wsdl:input message="tns:RTTIE236WS_PortType_RTTIE236" />
      <wsdl:output message="tns:RTTIE236WS_PortType_RTTIE236Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RTTIE236_service_RTTIE236WS_Binder" type="tns:RTTIE236WS_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE236">
      <soap:operation soapAction="RTTIE236_service_RTTIE236WS_Binder_RTTIE236" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTTIE236.service.RTTIE236WS">
    <wsdl:port name="RTTIE236_service_RTTIE236WS_Port" binding="tns:RTTIE236_service_RTTIE236WS_Binder">
      <soap:address location="http://ISDEV.city.phila.local:5555/ws/RTTIE236.service.RTTIE236WS/RTTIE236_service_RTTIE236WS_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>