AspUtils/CopRevenueGov2/Service References/RTTIE237_SrvRef/RTTIE237WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ISDEV.city.phila.local/RTTIE237.service:RTTIE237WS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:HDR1="urn:com-softwareag-entirex-rpc:TIPSACCD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="RTTIE237WS" targetNamespace="http://ISDEV.city.phila.local/RTTIE237.service:RTTIE237WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="http://ISDEV.city.phila.local/RTTIE237.service:RTTIE237WS">
      <xsd:import namespace="urn:com-softwareag-entirex-rpc:TIPSACCD" />
      <xsd:element name="RTTIE237" type="tns:RTTIE237" />
      <xsd:element name="RTTIE237Response" type="tns:RTTIE237Response" />
      <xsd:complexType name="RTTIE237">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE237" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_PROGRAM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SYSTEM-ERROR" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ERROR-LINE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="MESSAGE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-BPT">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PERIOD-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="VERSION-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RETURN-STATUS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LAST-UPDATE-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RECORDING-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="EXTENSION-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SEQUENCE-NUM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADJUSTMENT-REFERENCE-NUM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="USER-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NET-RATE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="GROSS-RATE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-NAME" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE-EXT" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-IP-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-EMAIL-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-TYPE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-PG1">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TAX-ON-NET-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAX-ON-GROSS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ACTUAL-TAX-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ESTIMATED-TAX-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-TAX-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NPT-TAX-CREDIT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BPT-TAX-CREDIT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-PAYMNTS-CREDITS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAX-DUE-AMT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="INTEREST-AND-PENALTY-AMT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="AMT-OWED-2-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="REFUND-AMT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NPT-OVERPAYMENT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BPT-OVERPAYMENT-X" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-EZ-PG2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="NET-INCOME-LOSS-1-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NET-INCOME-LOSS-2-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LOSS-CARRY-FORWARD-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAXABLE-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAX-DUE-X-NET" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SALES-RENTALS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SERVICES-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RENTAL-PROPERTY-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ROYALTIES-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="CAPITAL-GAINS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="STOCK-GAINS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="DIVIDENDS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="INTEREST-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="OTHER-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAXABLE-GROSS-RECEIPTS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAX-DUE-X-GROSS" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_NEW2014-FIELDS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="STAT-NET-DEDUCTION-1-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAXABLE-SUBTOTAL-EZ-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="STAT-EXCLUSION-EZ-X" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE237Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE237Response" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA2">
        <xsd:sequence>
          <xsd:element name="_PROGRAM" type="xsd:string" />
          <xsd:element name="SYSTEM-ERROR" type="xsd:string" />
          <xsd:element name="ERROR-LINE" type="xsd:string" />
          <xsd:element name="MESSAGE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-BPT2">
        <xsd:sequence>
          <xsd:element name="ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="PERIOD-X" type="xsd:string" />
          <xsd:element name="VERSION-X" type="xsd:string" />
          <xsd:element name="RETURN-STATUS" type="xsd:string" />
          <xsd:element name="LAST-UPDATE-DATE-X" type="xsd:string" />
          <xsd:element name="RECORDING-DATE-X" type="xsd:string" />
          <xsd:element name="EXTENSION-DATE-X" type="xsd:string" />
          <xsd:element name="SEQUENCE-NUM" type="xsd:string" />
          <xsd:element name="ADJUSTMENT-REFERENCE-NUM" type="xsd:string" />
          <xsd:element name="USER-ID" type="xsd:string" />
          <xsd:element name="NET-RATE" type="xsd:string" />
          <xsd:element name="GROSS-RATE" type="xsd:string" />
          <xsd:element name="PREPARER-NAME" type="xsd:string" />
          <xsd:element name="PREPARER-PHONE" type="xsd:decimal" />
          <xsd:element name="PREPARER-PHONE-EXT" type="xsd:string" />
          <xsd:element name="PREPARER-IP-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-EMAIL-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-TYPE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-PG12">
        <xsd:sequence>
          <xsd:element name="TAX-ON-NET-X" type="xsd:string" />
          <xsd:element name="TAX-ON-GROSS-X" type="xsd:string" />
          <xsd:element name="ACTUAL-TAX-X" type="xsd:string" />
          <xsd:element name="ESTIMATED-TAX-X" type="xsd:string" />
          <xsd:element name="TOTAL-TAX-X" type="xsd:string" />
          <xsd:element name="NPT-TAX-CREDIT-X" type="xsd:string" />
          <xsd:element name="BPT-TAX-CREDIT-X" type="xsd:string" />
          <xsd:element name="TOTAL-PAYMNTS-CREDITS-X" type="xsd:string" />
          <xsd:element name="TAX-DUE-AMT-X" type="xsd:string" />
          <xsd:element name="INTEREST-AND-PENALTY-AMT-X" type="xsd:string" />
          <xsd:element name="AMT-OWED-2-X" type="xsd:string" />
          <xsd:element name="REFUND-AMT-X" type="xsd:string" />
          <xsd:element name="NPT-OVERPAYMENT-X" type="xsd:string" />
          <xsd:element name="BPT-OVERPAYMENT-X" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-EZ-PG22">
        <xsd:sequence>
          <xsd:element name="NET-INCOME-LOSS-1-X" type="xsd:string" />
          <xsd:element name="NET-INCOME-LOSS-2-X" type="xsd:string" />
          <xsd:element name="LOSS-CARRY-FORWARD-X" type="xsd:string" />
          <xsd:element name="TAXABLE-INCOME-X" type="xsd:string" />
          <xsd:element name="TAX-DUE-X-NET" type="xsd:string" />
          <xsd:element name="SALES-RENTALS-X" type="xsd:string" />
          <xsd:element name="SERVICES-X" type="xsd:string" />
          <xsd:element name="RENTAL-PROPERTY-X" type="xsd:string" />
          <xsd:element name="ROYALTIES-X" type="xsd:string" />
          <xsd:element name="CAPITAL-GAINS-X" type="xsd:string" />
          <xsd:element name="STOCK-GAINS-X" type="xsd:string" />
          <xsd:element name="DIVIDENDS-X" type="xsd:string" />
          <xsd:element name="INTEREST-X" type="xsd:string" />
          <xsd:element name="OTHER-X" type="xsd:string" />
          <xsd:element name="TAXABLE-GROSS-RECEIPTS-X" type="xsd:string" />
          <xsd:element name="TAX-DUE-X-GROSS" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_NEW2014-FIELDS2">
        <xsd:sequence>
          <xsd:element name="STAT-NET-DEDUCTION-1-X" type="xsd:string" />
          <xsd:element name="TAXABLE-SUBTOTAL-EZ-X" type="xsd:string" />
          <xsd:element name="STAT-EXCLUSION-EZ-X" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCD">
      <xsd:import namespace="http://ISDEV.city.phila.local/RTTIE237.service:RTTIE237WS" />
      <xsd:element name="RTTIE237" type="sn0:RTTIE237" />
      <xsd:element name="RTTIE237Response" type="sn0:RTTIE237Response" />
      <xsd:complexType name="RTTIE237">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SMA" nillable="true" type="tns:_SMA" />
          <xsd:element minOccurs="0" name="_E-BPT" nillable="true" type="tns:_E-BPT" />
          <xsd:element minOccurs="0" name="_E-PG1" nillable="true" type="tns:_E-PG1" />
          <xsd:element minOccurs="0" name="_E-EZ-PG2" nillable="true" type="tns:_E-EZ-PG2" />
          <xsd:element minOccurs="0" name="_NEW2014-FIELDS" nillable="true" type="tns:_NEW2014-FIELDS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE237Response">
        <xsd:sequence>
          <xsd:element name="_SMA" type="tns:_SMA2" />
          <xsd:element name="_E-BPT" type="tns:_E-BPT2" />
          <xsd:element name="_E-PG1" type="tns:_E-PG12" />
          <xsd:element name="_E-EZ-PG2" type="tns:_E-EZ-PG22" />
          <xsd:element name="_NEW2014-FIELDS" type="tns:_NEW2014-FIELDS2" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RTTIE237WS_PortType_RTTIE237">
    <wsdl:part name="parameters" element="tns:RTTIE237" />
  </wsdl:message>
  <wsdl:message name="RTTIE237WS_PortType_RTTIE237Response">
    <wsdl:part name="parameters" element="tns:RTTIE237Response" />
  </wsdl:message>
  <wsdl:portType name="RTTIE237WS_PortType">
    <wsdl:operation name="RTTIE237">
      <wsdl:input message="tns:RTTIE237WS_PortType_RTTIE237" />
      <wsdl:output message="tns:RTTIE237WS_PortType_RTTIE237Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RTTIE237_service_RTTIE237WS_Binder" type="tns:RTTIE237WS_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE237">
      <soap:operation soapAction="RTTIE237_service_RTTIE237WS_Binder_RTTIE237" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTTIE237.service.RTTIE237WS">
    <wsdl:port name="RTTIE237_service_RTTIE237WS_Port" binding="tns:RTTIE237_service_RTTIE237WS_Binder">
      <soap:address location="http://ISDEV.city.phila.local:5555/ws/RTTIE237.service.RTTIE237WS/RTTIE237_service_RTTIE237WS_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>