AspUtils/CopRevenueGov2/Service References/RTTIE239_SrvRef/RTTIE239WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ISDEV.city.phila.local/service:RTTIE239WS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:HDR1="urn:com-softwareag-entirex-rpc:TIPSACCD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="RTTIE239WS" targetNamespace="http://ISDEV.city.phila.local/service:RTTIE239WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCD">
      <xsd:import namespace="http://ISDEV.city.phila.local/service:RTTIE239WS" />
      <xsd:element name="RTTIE239" type="sn0:RTTIE239" />
      <xsd:element name="RTTIE239Response" type="sn0:RTTIE239Response" />
      <xsd:complexType name="RTTIE239">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SMA" nillable="true" type="tns:_SMA" />
          <xsd:element minOccurs="0" name="_E-NPT" nillable="true" type="tns:_E-NPT" />
          <xsd:element minOccurs="0" name="_E-AMTS" nillable="true" type="tns:_E-AMTS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE239Response">
        <xsd:sequence>
          <xsd:element name="_SMA" type="tns:_SMA2" />
          <xsd:element name="_E-NPT" type="tns:_E-NPT2" />
          <xsd:element name="_E-AMTS" type="tns:_E-AMTS2" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="http://ISDEV.city.phila.local/service:RTTIE239WS">
      <xsd:import namespace="urn:com-softwareag-entirex-rpc:TIPSACCD" />
      <xsd:element name="RTTIE239" type="tns:RTTIE239" />
      <xsd:element name="RTTIE239Response" type="tns:RTTIE239Response" />
      <xsd:complexType name="RTTIE239">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE239" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_PROGRAM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SYSTEM-ERROR" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="ERROR-LINE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="MESSAGE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-NPT">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PERIOD-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="VERSION-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RETURN-STATUS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LAST-UPDATE-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RECORDING-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="EXTENSION-DATE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="SEQUENCE-NUMBER" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADJUSTMENT-REFERENCE-NUM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="USER-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RATE-RES" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RATE-NON-RES" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-NAME" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="PREPARER-PHONE-EXT" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-IP-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-EMAIL-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PREPARER-TYPE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-AMTS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="RES-TAXABLE-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="RES-TAX-DUE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NON-RES-TAX-INCOME-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NON-RES-TAX-DUE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-TAX-DUE-1-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BPT-CREDIT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="OTHER-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-CREDITS-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-TAX-DUE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="INTEREST-PENALTY-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TOTAL-AMT-DUE-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TAX-OVERPAID-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NET-PROFIT-EST-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="REFUND-AMT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BPT-OVERPAYMENT-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NPT-OVERPAYMENT-X" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE239Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE239Response" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA2">
        <xsd:sequence>
          <xsd:element name="_PROGRAM" type="xsd:string" />
          <xsd:element name="SYSTEM-ERROR" type="xsd:decimal" />
          <xsd:element name="ERROR-LINE" type="xsd:decimal" />
          <xsd:element name="MESSAGE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-NPT2">
        <xsd:sequence>
          <xsd:element name="ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="PERIOD-X" type="xsd:string" />
          <xsd:element name="VERSION-X" type="xsd:string" />
          <xsd:element name="RETURN-STATUS" type="xsd:string" />
          <xsd:element name="LAST-UPDATE-DATE-X" type="xsd:string" />
          <xsd:element name="RECORDING-DATE-X" type="xsd:string" />
          <xsd:element name="EXTENSION-DATE-X" type="xsd:string" />
          <xsd:element name="SEQUENCE-NUMBER" type="xsd:string" />
          <xsd:element name="ADJUSTMENT-REFERENCE-NUM" type="xsd:string" />
          <xsd:element name="USER-ID" type="xsd:string" />
          <xsd:element name="RATE-RES" type="xsd:string" />
          <xsd:element name="RATE-NON-RES" type="xsd:string" />
          <xsd:element name="PREPARER-NAME" type="xsd:string" />
          <xsd:element name="PREPARER-PHONE" type="xsd:decimal" />
          <xsd:element name="PREPARER-PHONE-EXT" type="xsd:string" />
          <xsd:element name="PREPARER-IP-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-EMAIL-ADDRESS" type="xsd:string" />
          <xsd:element name="PREPARER-TYPE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_E-AMTS2">
        <xsd:sequence>
          <xsd:element name="RES-TAXABLE-INCOME-X" type="xsd:string" />
          <xsd:element name="RES-TAX-DUE-X" type="xsd:string" />
          <xsd:element name="NON-RES-TAX-INCOME-X" type="xsd:string" />
          <xsd:element name="NON-RES-TAX-DUE-X" type="xsd:string" />
          <xsd:element name="TOTAL-TAX-DUE-1-X" type="xsd:string" />
          <xsd:element name="BPT-CREDIT-X" type="xsd:string" />
          <xsd:element name="OTHER-X" type="xsd:string" />
          <xsd:element name="TOTAL-CREDITS-X" type="xsd:string" />
          <xsd:element name="TOTAL-TAX-DUE-X" type="xsd:string" />
          <xsd:element name="INTEREST-PENALTY-X" type="xsd:string" />
          <xsd:element name="TOTAL-AMT-DUE-X" type="xsd:string" />
          <xsd:element name="TAX-OVERPAID-X" type="xsd:string" />
          <xsd:element name="NET-PROFIT-EST-X" type="xsd:string" />
          <xsd:element name="REFUND-AMT-X" type="xsd:string" />
          <xsd:element name="BPT-OVERPAYMENT-X" type="xsd:string" />
          <xsd:element name="NPT-OVERPAYMENT-X" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RTTIE239WS_PortType_RTTIE239Response">
    <wsdl:part name="parameters" element="tns:RTTIE239Response" />
  </wsdl:message>
  <wsdl:message name="RTTIE239WS_PortType_RTTIE239">
    <wsdl:part name="parameters" element="tns:RTTIE239" />
  </wsdl:message>
  <wsdl:portType name="RTTIE239WS_PortType">
    <wsdl:operation name="RTTIE239">
      <wsdl:input message="tns:RTTIE239WS_PortType_RTTIE239" />
      <wsdl:output message="tns:RTTIE239WS_PortType_RTTIE239Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="service_RTTIE239WS_Binder" type="tns:RTTIE239WS_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE239">
      <soap:operation soapAction="service_RTTIE239WS_Binder_RTTIE239" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service.RTTIE239WS">
    <wsdl:port name="service_RTTIE239WS_Port" binding="tns:service_RTTIE239WS_Binder">
      <soap:address location="http://ISDEV.city.phila.local:5555/ws/service.RTTIE239WS/service_RTTIE239WS_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>