CopRevenueGov2/Web References/RTTIE010_SrvRef/RTTIE010.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD-RTTIE010" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="RTTIE010" targetNamespace="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCD-RTTIE010">
      <xsd:element name="RTTIE010Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_SMA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_SYSTEM-MESSAGE-AREA">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="_PROGRAM">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ERROR">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="7" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LINE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="4" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="MESSAGE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="60" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_EMI">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_ENTITY-MASTER-INFO">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="FUNCTION-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ENTITY-TYPE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ENTITY-ID">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="11" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ACCOUNT-ID">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="12" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="NAIC-FEDERAL-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="SIC-FEDERAL-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-START-DATE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ORGANIZATION-TYPE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-ORIGIN">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-GENDER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-OTHER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PIN-NUMBER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="13" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PIN-SWITCH">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ETA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_ENTITY-TAX-ACCOUNTSs">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="12" name="_ENTITY-TAX-ACCOUNTS">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="FUNCTION-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="1" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ACCOUNT">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="2" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="START-DATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="8" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="WAG-MONTHLY-GROSS">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="15" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BPT-NEW-APPLICATION">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" name="BPTNA-APPLY-FOR-EXEMPTION">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-REACTIVATING">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-AFFILIATED">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-NEWOWNER">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-REALESTATE">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-ACCEPTED">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-COMPLY-YEAR1">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-COMPLY-YEAR2">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-STATUS">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PRK-ID">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="11" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ECHK">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_E-CHECK">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="FUNCTION-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="TRANSIT-ROUTING-NUMBER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="9" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BANK-ACCOUNT-NUMBER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BANK-ACCOUNT-TYPE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ENA-1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_NAM-ADDR-1s">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="21" name="_NAM-ADDR-1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="FUNCTION-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="1" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ENTITY-TYPE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="3" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ENTITY-ID">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="11" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ENTITY-NAME">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TRADE-NAME">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADDRESS-TYPE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="3" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RELATIONSHIP-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="3" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ENA-2">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_NAM-ADDR-2s">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="21" name="_NAM-ADDR-2">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ATTENTION">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADDRESS-LINE-1">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADDRESS-LINE-2">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CITY">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="20" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="STATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="2" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ZIP-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BUSINESS-PHONE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BUSINESS-PHONE-EXTENSION">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="5" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BUSINESS-FAX">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="OTHER-PHONE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="E-MAIL-ADDR">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TINAM-SEQUENCE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="4" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TIADR-SEQUENCE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="4" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RTTIE010">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_EMI">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_ENTITY-MASTER-INFO">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="FUNCTION-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ENTITY-TYPE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ENTITY-ID">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="11" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ACCOUNT-ID">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="12" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="NAIC-FEDERAL-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="6" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="SIC-FEDERAL-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="5" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-START-DATE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="8" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ORGANIZATION-TYPE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="3" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-ORIGIN">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-GENDER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BUSINESS-OTHER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PIN-NUMBER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="13" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PIN-SWITCH">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ETA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_ENTITY-TAX-ACCOUNTSs">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="12" name="_ENTITY-TAX-ACCOUNTS">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="FUNCTION-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="1" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ACCOUNT">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="2" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="START-DATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="8" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="WAG-MONTHLY-GROSS">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="15" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BPT-NEW-APPLICATION">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" name="BPTNA-APPLY-FOR-EXEMPTION">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-REACTIVATING">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-AFFILIATED">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-NEWOWNER">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-REALESTATE">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-ACCEPTED">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-COMPLY-YEAR1">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-COMPLY-YEAR2">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BPTNA-STATUS">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PRK-ID">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="11" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ECHK">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_E-CHECK">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="FUNCTION-CODE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="TRANSIT-ROUTING-NUMBER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="9" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BANK-ACCOUNT-NUMBER">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BANK-ACCOUNT-TYPE">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1" />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ENA-1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_NAM-ADDR-1s">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="21" name="_NAM-ADDR-1">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="FUNCTION-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="1" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ENTITY-TYPE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="3" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ENTITY-ID">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="11" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ENTITY-NAME">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TRADE-NAME">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADDRESS-TYPE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="3" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RELATIONSHIP-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="3" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_ENA-2">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_NAM-ADDR-2s">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="21" name="_NAM-ADDR-2">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ATTENTION">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADDRESS-LINE-1">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADDRESS-LINE-2">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CITY">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="20" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="STATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="2" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ZIP-CODE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BUSINESS-PHONE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BUSINESS-PHONE-EXTENSION">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="5" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BUSINESS-FAX">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="OTHER-PHONE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="10" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="E-MAIL-ADDR">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TINAM-SEQUENCE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="4" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TIADR-SEQUENCE-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="4" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RTTIE010SoapOut">
    <wsdl:part name="parameters" element="sn0:RTTIE010Response" />
  </wsdl:message>
  <wsdl:message name="RTTIE010SoapIn">
    <wsdl:part name="parameters" element="sn0:RTTIE010" />
  </wsdl:message>
  <wsdl:portType name="TIPSACCDPort">
    <wsdl:operation name="RTTIE010">
      <wsdl:input message="tns:RTTIE010SoapIn" />
      <wsdl:output message="tns:RTTIE010SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TIPSACCDSOAP11Binding" type="tns:TIPSACCDPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE010">
      <soap:operation soapAction="RTTIE010" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TIPSACCDSOAP12Binding" type="tns:TIPSACCDPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE010">
      <soap12:operation soapAction="RTTIE010" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTTIE010">
    <wsdl:port name="TIPSACCDSOAP11Port" binding="tns:TIPSACCDSOAP11Binding">
      <soap:address location="http://istest.city.phila.local:10010/wsstack/services/RTTIE010.TIPSACCDSOAP11Port/" />
    </wsdl:port>
    <wsdl:port name="TIPSACCDSOAP12Port" binding="tns:TIPSACCDSOAP12Binding">
      <soap12:address location="http://istest.city.phila.local:10010/wsstack/services/RTTIE010.TIPSACCDSOAP12Port/" />
    </wsdl:port>
    <wsdl:port name="RTTIE010HttpsSoap11Endpoint" binding="tns:TIPSACCDSOAP11Binding">
      <soap:address location="https://istest.city.phila.local:10011/wsstack/services/RTTIE010.RTTIE010HttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="RTTIE010HttpsSoap12Endpoint" binding="tns:TIPSACCDSOAP12Binding">
      <soap12:address location="https://istest.city.phila.local:10011/wsstack/services/RTTIE010.RTTIE010HttpsSoap12Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>