AspUtils/CopRevenueGov2/Service References/RTTIE222_SrvRef/RTTIE222WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ISDEV.city.phila.local/RTTIE222.service:RTTIE222WS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:HDR1="urn:com-softwareag-entirex-rpc:TIPSACCD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="RTTIE222WS" targetNamespace="http://ISDEV.city.phila.local/RTTIE222.service:RTTIE222WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCD">
      <xsd:import namespace="http://ISDEV.city.phila.local/RTTIE222.service:RTTIE222WS" />
      <xsd:element name="RTTIE222" type="sn0:RTTIE222" />
      <xsd:element name="RTTIE222Response" type="sn0:RTTIE222Response" />
      <xsd:complexType name="RTTIE222">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SMA" nillable="true" type="tns:_SMA" />
          <xsd:element minOccurs="0" name="_EMI" nillable="true" type="tns:_EMI" />
          <xsd:element minOccurs="0" name="_ETA" nillable="true" type="tns:_ETA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE222Response">
        <xsd:sequence>
          <xsd:element name="_SMA" type="tns:_SMA2" />
          <xsd:element name="_EMI" type="tns:_EMI2" />
          <xsd:element name="_ETA" type="tns:_ETA2" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCD" targetNamespace="http://ISDEV.city.phila.local/RTTIE222.service:RTTIE222WS">
      <xsd:import namespace="urn:com-softwareag-entirex-rpc:TIPSACCD" />
      <xsd:element name="RTTIE2222" type="tns:RTTIE2222" />
      <xsd:element name="RTTIE2222Response" type="tns:RTTIE2222Response" />
      <xsd:complexType name="RTTIE2222">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE222" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_SYSTEM-MESSAGE-AREA" nillable="true" type="tns:_SYSTEM-MESSAGE-AREA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SYSTEM-MESSAGE-AREA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_PROGRAM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ERROR" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="LINE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="MESSAGE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_EMI">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_ENTITY-MASTER-INFO" nillable="true" type="tns:_ENTITY-MASTER-INFO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-MASTER-INFO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ENTITY-TYPE" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="ENTITY-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="FUNCTION" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NOTICE-NUM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NEXT-ACCOUNT" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NEXT-ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="NEXT-PERIOD" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ETA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_ENTITY-TAX-ACCOUNTSs" type="tns:_ENTITY-TAX-ACCOUNTSs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTSs">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="_ENTITY-TAX-ACCOUNTS" type="tns:_ENTITY-TAX-ACCOUNTS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="FUNCTION-CODE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ACCOUNT" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ACCOUNT-ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PERIOD-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PRINCIPAL-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="INTEREST-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="PENALTY-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="OTHER-X" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BRT-ENTITY" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BRT-ADDRESS" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="FILL" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTTIE2222Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sn0:RTTIE222Response" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SMA2">
        <xsd:sequence>
          <xsd:element name="_SYSTEM-MESSAGE-AREA" type="tns:_SYSTEM-MESSAGE-AREA2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_SYSTEM-MESSAGE-AREA2">
        <xsd:sequence>
          <xsd:element name="_PROGRAM" type="xsd:string" />
          <xsd:element name="ERROR" type="xsd:decimal" />
          <xsd:element name="LINE" type="xsd:decimal" />
          <xsd:element name="MESSAGE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_EMI2">
        <xsd:sequence>
          <xsd:element name="_ENTITY-MASTER-INFO" type="tns:_ENTITY-MASTER-INFO2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-MASTER-INFO2">
        <xsd:sequence>
          <xsd:element name="ENTITY-TYPE" type="xsd:decimal" />
          <xsd:element name="ENTITY-ID" type="xsd:string" />
          <xsd:element name="FUNCTION" type="xsd:string" />
          <xsd:element name="NOTICE-NUM" type="xsd:string" />
          <xsd:element name="NEXT-ACCOUNT" type="xsd:string" />
          <xsd:element name="NEXT-ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="NEXT-PERIOD" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ETA2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="_ENTITY-TAX-ACCOUNTSs" type="tns:_ENTITY-TAX-ACCOUNTSs2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTSs2">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="_ENTITY-TAX-ACCOUNTS" type="tns:_ENTITY-TAX-ACCOUNTS2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_ENTITY-TAX-ACCOUNTS2">
        <xsd:sequence>
          <xsd:element name="FUNCTION-CODE" type="xsd:string" />
          <xsd:element name="ACCOUNT" type="xsd:string" />
          <xsd:element name="ACCOUNT-ID" type="xsd:string" />
          <xsd:element name="PERIOD-X" type="xsd:string" />
          <xsd:element name="PRINCIPAL-X" type="xsd:string" />
          <xsd:element name="INTEREST-X" type="xsd:string" />
          <xsd:element name="PENALTY-X" type="xsd:string" />
          <xsd:element name="OTHER-X" type="xsd:string" />
          <xsd:element name="BRT-ENTITY" type="xsd:string" />
          <xsd:element name="BRT-ADDRESS" type="xsd:string" />
          <xsd:element name="FILL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RTTIE222WS_PortType_RTTIE2222">
    <wsdl:part name="parameters" element="tns:RTTIE2222" />
  </wsdl:message>
  <wsdl:message name="RTTIE222WS_PortType_RTTIE2222Response">
    <wsdl:part name="parameters" element="tns:RTTIE2222Response" />
  </wsdl:message>
  <wsdl:portType name="RTTIE222WS_PortType">
    <wsdl:operation name="RTTIE2222">
      <wsdl:input message="tns:RTTIE222WS_PortType_RTTIE2222" />
      <wsdl:output message="tns:RTTIE222WS_PortType_RTTIE2222Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RTTIE222_service_RTTIE222WS_Binder" type="tns:RTTIE222WS_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RTTIE2222">
      <soap:operation soapAction="RTTIE222_service_RTTIE222WS_Binder_RTTIE2222" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTTIE222.service.RTTIE222WS">
    <wsdl:port name="RTTIE222_service_RTTIE222WS_Port" binding="tns:RTTIE222_service_RTTIE222WS_Binder">
      <soap:address location="http://ISDEV.city.phila.local:5555/ws/RTTIE222.service.RTTIE222WS/RTTIE222_service_RTTIE222WS_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>